
.game-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    padding-top: 2rem;
    width: 95vw;
    height: 90vh;
}

.game-container .game-board
{
    width: 90vmin;
    position: relative;
}

.game-container .emojis-todo
{
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.game-container .timer
{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX( -50% );
    font-size: 2rem;
    background: var(--secondary-color);
    padding: 0 1rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.game-container .mute, .game-container .developer-mode
{
    background: none;
    border: none;
    font-size: 10vmin;
    top: 2vmin;
    left: 1%;
    position: absolute;
    z-index: 1;
}

.game-container .developer-mode
{
    top: 15vmin;
}

.game-container .muted::after, .game-container .off::after
{
    content: '';
    position: absolute;
    top: 50%;
    left: 3%;
    width: 100%;
    height: 7px;
    border-radius: 2rem;
    background-color: #df1a1a;
    transform: rotate( 45deg );
}

.game-container .mute:focus, .game-container .developer-mode:focus
{
    outline: none;
}

.game-container .adjust-position 
{
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50% );
    font-size: 5vmin;
    color: #df1a1a;
}

.loader
{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.loader::after
{
    content: '';
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    border: .25rem solid var(--primary-color);
    border-top-color: transparent;
    animation: rotate 0.5s linear infinite;
}

@keyframes rotate
{
    0%{ transform: rotate(0deg); }
    100%{ transform: rotate(360deg); }
}

@media screen and (max-width: 600px) 
{
    .game-container .emojis-todo
    {
        width: 90%;
    }
}

/* modal */

.modal
{
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
}

.modal h2
{
    font-size: 4vmin;
}

.modal .modal-win
{
    position: absolute;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--primary-color);
    border-radius: 2rem;
    padding: 1rem;
    z-index: 999;
}

.modal .modal-win .buttons
{
    width: 50%;
    display: flex;
    align-content: space-between;
}

.modal .modal-win .buttons .btn
{
    font-size: 3vmin;
    display: inline-block;
    width: 18vw;
    border-radius: 2rem;
}

@media screen and (max-width: 600px) 
{
    .modal .modal-win .buttons
    {
        display: block;
    }

    .modal .modal-win .buttons .btn
    {
        width: 100%;
        display: block;
    }
}